body {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

section {
	min-height: 720px;
    height: 100vh;
}

#botao-subir {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 60px;
    width: 185px;
    height: 45px;
    border-radius: 30px 30px 0 0;
    background-color: var(--cor-secundaria);
}

#botao-subir a {
    color: var(--cor-principal);
}

/* cabeçalho */

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    margin: 0 8.33vw;
}

#cabecalho .texto-especial {
    text-transform: uppercase;
}

#cabecalho .texto-especial span {
    color: var(--verde);
}

#cabecalho .barra-navegacao {
    display: flex;
    align-items: center;
    gap: 45px;
}

#cabecalho .barra-navegacao a {
    color: var(--cor-secundaria);
}

#cabecalho .barra-navegacao a:hover {
    border-bottom: 3px solid var(--verde);
    padding-top: 3px;
}

/* início */

#inicio {
    height: calc(100vh - 120px);
    align-items: center;
}

#inicio .conteudo-esquerda {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

#inicio .conteudo-direita {
    display: flex;
    align-items: center;
    justify-content: center;
}

#inicio .conteudo-direita img {
    width: 90%;
}

.redes-sociais {
    display: flex;
    width: 240px;
    border: 3px solid var(--cor-secundaria);
    border-radius: 8px;
    padding: 5px;
}

.redes-sociais [class*="fundo-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
}

.redes-sociais [class*="fundo-"]:nth-child(1) {
    background-color: #0077B5;
    border-radius: 5px 0 0 5px;
}

.redes-sociais [class*="fundo-"]:nth-child(2) {
    background: #DD2A7B;
}

.redes-sociais [class*="fundo-"]:nth-child(3) {
    background-color: #232323;
    border-radius: 0 5px 5px 0;
}

/* sobre */

#sobre [class*="conteudo-"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sobre .conteudo-esquerda p {
    width: 25vw;
    padding: 25px 0;
}

#sobre .conteudo-esquerda a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 185px;
    height: 45px;
    border-radius: 5px;
    color: var(--cor-principal);
    background-color: var(--verde);
}

#sobre .conteudo-esquerda a img {
    width: 35px;
}

#icone-curriculo {
    filter: brightness(100);
}

#sobre .conteudo-direita .texto {
    padding-bottom: 25px;
}

/* tecnologias */

#habilidades {
    background: var(--gradiente-tecnologias),url("../imagens/background.jpg");
    background-size: 140%;
    color: var(--cor-principal);
}

#habilidades .descricao {
    grid-column: 2 / 5;
    margin-top: 16.66vh;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

#habilidades .descricao .subtitulo-especial {
    padding-bottom: 10px;
    border-bottom: 5px solid var(--cor-principal);
}

#habilidades .tecnologias {
    grid-column: 6 / 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tecnologias [class*="agrupamento-"] {
    display: flex;
    gap: 45px;
    margin-bottom: 45px;
}

.tecnologias [class*="agrupamento-"] [class*="fundo-"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 150px;
    padding-top: 40px;
    background-color: var(--cor-principal);
    border-radius: 5px;
}

.tecnologias [class*="agrupamento-"] [class*="fundo-"]:hover .texto-enfase {
    color: var(--cor-secundaria);
    margin-top: 10px;
}

.tecnologias [class*="agrupamento-"] img {
    height: 65px;
}

.tecnologias [class*="agrupamento-"] .texto-enfase {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--cor-principal);
}

/* projetos */

.agrupamento-projetos {
    grid-column: 2 / 12;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.card-projeto {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.card-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 265px;
    border-radius: 5px 5px 0 0;
    background-color: var(--cor-secundaria);
}

.card-imagem img {
    height: 95%;
    width: 95%;
}

.card-conteudo {
    border: 3px solid var(--cor-secundaria);
    border-radius: 0 0 5px 5px;
    padding: 10px 0;
}

.card-conteudo .tecnologias {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

.card-conteudo .tecnologias span {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: var(--verde);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
}

.card-conteudo .descricao {
    height: calc(100% + 20px);
    text-align: center;
    margin: 0 20px;
}

.card-conteudo .botao {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.card-conteudo .botao a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: var(--verde);
}

/* MIDIA QUERRY - RESPONSIVIDADE EM TELAS MENORES */

@media screen and (max-width: 1200px) {

    /* início */

    #inicio .conteudo-esquerda {
        grid-column: 2 / 12;
    }

    #inicio .conteudo-direita {
        display: none;
    }

    /* habilidades */

    #habilidades {
        display: flex;
        flex-direction: column;
        padding: 0 8.33vw;
    }

    .tecnologias [class*="agrupamento-"] {
        gap: 35px;
    }

    #habilidades .tecnologias {
        flex-direction: row;
        gap: 35px;
        margin-top: 45px;
    }

    #habilidades .descricao .subtitulo-especial {
        text-align: center;
    }

    .tecnologias [class*="agrupamento-"] [class*="fundo-"] {
        height: 120px;
        width: 120px;
    }

    .tecnologias [class*="agrupamento-"] img {
        height: 45px;
    }

    .tecnologias [class*="agrupamento-"] .texto-enfase {
        font-size: 16px;
    }

    /* projetos */

    .card-conteudo .tecnologias span:nth-child(4) {
        display: none;
    }

    .card-conteudo .botao {
        margin: 10px 0;
    }
    .card-conteudo .botao a {
        transition: all 300ms ease;
        border-radius: 5px;
        width: 100px;
        height: 45px;
    }
    .card-conteudo .botao a img {
        width: 30px;
    }
}

@media screen and (max-width: 1100px) {
    
    /* projetos */

    .agrupamento-projetos {
        gap: 0;
    }

    .card-projeto {
        flex-direction: row;
        width: 100vw;
    }

    .card-imagem {
        width: 350px;
        height: 200px;
        border-radius: 5px 0 0 5px;
    }

    .card-imagem img {
        height: 85%;
        width: 85%;
    }

    .card-conteudo {
        height: 200px;
        border-radius: 0 5px 5px 0;
    }

    .card-conteudo .tecnologias {
        justify-content: center;
        gap: 45px;
    }

    .card-conteudo .descricao {
        height: 65px;
    }
}

@media screen and (max-width: 980px) {

    /* cabeçalho */

    #cabecalho .barra-navegacao a {
        display: none;
    }

    /* sobre */

    #sobre [class*="conteudo-"] {
        grid-column: 2 / 12;
    }

    #sobre .conteudo-esquerda p {
        width: 100%;
    }

    /* habilidades */

    #habilidades .descricao .texto {
        display: none;
    }

    #habilidades .tecnologias {
        flex-direction: column;
    }

    .tecnologias [class*="agrupamento-"] {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 720px) {

    /* projetos */

    .card-imagem {
        display: none;
    }

}